{
    "ignition": {
        "config": {},
        "version": "3.0.0"
    },
    "networkd": {},
    "passwd": {
        "users": [
            {
                "name": "core",
                "sshAuthorizedKeys": [
                    "{{ SSH_PUBLIC_KEY }}"
                ],
                "passwordHash": "{{ PASSWORD_HASH }}"
            }
        ]
    },
    "storage": {
        "files": [
            {
                "contents": {
                    "source": "data:,auto-installer",
                    "verification": {}
                },
                "filesystem": "root",
                "mode": 420,
                "overwrite": true,
                "path": "/etc/hostname"
            },
            {
                "contents": {
                    "source": "data:text/plain;charset=utf-8;base64,{{ worker_ignition_file }}",
                    "verification": {}
                },
                "filesystem": "root",
                "mode": 420,
                "overwrite": true,
                "path": "/root/config.ign"
            },
            {
                "contents": {
                    "source": "data:text/plain;charset=utf-8;base64,{{ boot_iso_script }}",
                    "verification": {}
                },
                "filesystem": "root",
                "mode": 448,
                "path": "/usr/local/bin/first.sh"
            }
        ]
    },
    "systemd": {
        "units": [
            {
                "contents": "[Service]\nType=oneshot\nExecStart=/usr/local/bin/first.sh\n[Install]\nWantedBy=multi-user.target\n",
                "enabled": true,
                "name": "first-boot.service"
            }
        ]
    }
}
