{
    "systemd": {
        "units": [
            {
                "contents": {{ nodeip_config_service }},
                "enabled": true,
                "name": "nodeip-configuration.service"
            }
        ]
    }
}