{
    "storage": {
        "files": [

            {
                "contents": {
                    "source": "data:text/plain;charset=utf-8;base64,{{ nodeip_config_service }}",
                    "verification": {}
                },
                "filesystem": "root",
                "mode": 644,
                "overwrite": true,
                "path": "/etc/systemd/system/nodeip-configuration.service"
            }
        ]
    }
}
