{
    "ignition": {
        "config": {
            "merge": [
                {
                    "source": "{{ worker_ignition_config_source }}/{{ WORKER_CONFIG_ROLE }}"
                }
            ]
        }
    }
}
