apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfigPool
metadata:
  name: remote-worker
  labels:
    node-role.kubernetes.io/remote-worker: ''
spec:
  machineConfigSelector:
    matchExpressions:
      - key: machineconfiguration.openshift.io/role
        operator: In
        values:
          - worker
          - remote-worker
  nodeSelector:
    matchLabels:
      node-role.kubernetes.io/remote-worker: ''
