apiVersion: v1
kind: ConfigMap
metadata:
  name: autorules
  namespace: {{ AUTORULES_PROJECT_NAME }}
data:
  rules1.properties: |
    name: {{ AUTORULES_MATCH_RULE }}
    labels:
    - node-role.kubernetes.io/{{ AUTORULES_MATCH_ROLE }}
