---
#
# Virtual Redfish BMC
# https://docs.openstack.org/sushy-tools/latest/user/dynamic-emulator.html#uefi-boot
#
- name: Mount Live ISO, Boot into Live ISO (KVM only)
  block:

    - name: Identify System Manager
      uri:
        url: "http://{{ hostvars[item]['bmc_address'] }}/redfish/v1/Systems/{{ hostvars[item]['inventory_hostname'] }}"
        user: "{{ hostvars[item]['bmc_user'] }}"
        password: "{{ hostvars[item]['bmc_password'] }}"
        method: GET
        status_code: [200, 201]
        validate_certs: no
        return_content: yes
      register: http_reply

    - debug:
        var: http_reply
      when: debug|bool == True

    - name: KVM Set System UUID
      set_fact:
        system_uuid: "{{ http_reply.json['@odata.id'] }}"
        system_manager: "{{ http_reply.json.Links.ManagedBy[0]['@odata.id'] }}"

    - name: KVM Eject Virtual Media (if any)
      uri:
        url: "http://{{ hostvars[item]['bmc_address'] }}{{ system_manager }}/VirtualMedia/Cd/Actions/VirtualMedia.EjectMedia"
        user: "{{ hostvars[item]['bmc_user'] }}"
        password: "{{ hostvars[item]['bmc_password'] }}"
        method: POST
        body_format: json
        body: {}
        status_code: [200, 204]
        validate_certs: no
        return_content: yes
      register: redfish_reply
      ignore_errors: yes

    - debug:
        var: redfish_reply
      when: debug|bool == True

    - name: KVM Insert Virtual Media
      uri:
        url: "http://{{ hostvars[item]['bmc_address'] }}{{ system_manager }}/VirtualMedia/Cd/Actions/VirtualMedia.InsertMedia"
        user: "{{ hostvars[item]['bmc_user'] }}"
        password: "{{ hostvars[item]['bmc_password'] }}"
        method: POST
        body_format: json
        body: {"Image":"{{ boot_iso }}", "Inserted": true}
        status_code: [200, 204]
        force_basic_auth: no
        validate_certs: no
        return_content: yes
      register: redfish_reply

    - debug:
        var: redfish_reply
      when: debug|bool == True

    - name: Verify Virtual Media
      uri:
        url: "http://{{ hostvars[item]['bmc_address'] }}{{ system_manager }}/VirtualMedia/Cd"
        user: "{{ hostvars[item]['bmc_user'] }}"
        password: "{{ hostvars[item]['bmc_password'] }}"
        method: GET
        status_code: [200, 201]
        validate_certs: no
        return_content: yes
      register: redfish_reply
      when: debug|bool == True

    - debug:
        var: redfish_reply
      when: debug|bool == True

    - name: Set KVM OneTimeBoot Virtual Media
      uri:
        url: "http://{{ hostvars[item]['bmc_address'] }}{{ system_uuid }}"
        user: "{{ hostvars[item]['bmc_user'] }}"
        password: "{{ hostvars[item]['bmc_password'] }}"
        method: PATCH
        body_format: json
        body: {"Boot":{"BootSourceOverrideTarget":"Cd","BootSourceOverrideMode":"UEFI","BootSourceOverrideEnabled":"Continuous"}}
        status_code: [200, 204]
        force_basic_auth: no
        validate_certs: no
        return_content: yes
      register: redfish_reply

    - debug:
        var: redfish_reply
      when: debug|bool == True

    - name: Restart system power gracefully
      uri:
        url: "http://{{ hostvars[item]['bmc_address'] }}{{ system_uuid }}/Actions/ComputerSystem.Reset"
        user: "{{ hostvars[item]['bmc_user'] }}"
        password: "{{ hostvars[item]['bmc_password'] }}"
        method: POST
        body_format: json
        body: {"ResetType":"ForceRestart"}
        status_code: [200, 204]
        force_basic_auth: no
        validate_certs: no
        return_content: yes
      register: redfish_reply

    - debug:
        var: redfish_reply
      when: debug|bool == True


